<!DOCTYPE html>
<html lang="ru" ng-app="app" ng-controller="AppController as vm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>СКЛАД</title>

    <!-- Bootstrap CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Handsontable CSS -->
    <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.full.css"/>
    <link rel="stylesheet" href="css/handsontable.bootstrap.css"/>
    <!-- App CSS -->
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="vm.navbarExpanded = !vm.navbarExpanded">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="catalog">СКЛАД</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" collapse="!vm.navbarExpanded">
          <ul class="nav navbar-nav">
            <!--<li><a ui-sref="settings.carmodifications">Настройки моделей</a></li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="vm.isAuthenticated()" class="dropdown" ng-class="{open: settingsMenuDD}" ng-click="settingsMenuDD = !settingsMenuDD">
              <a class="dropdown-toggle" role="button" aria-expanded="false">Настройки <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="settings.carmodifications">Редактирование модификаций</a></li>
                <li><a ui-sref="settings.carmodificationsimport">Импорт модификаций</a></li>
                <li class="divider"></li>
                <!--<li class="dropdown-header">По категориям</li>-->
                <li><a ui-sref="settings">Пользователи</a></li>
              </ul>
            </li>
            <li ng-hide="vm.isAuthenticated()"><a ui-sref="login">Войти</a></li>
            <li ng-show="vm.isAuthenticated()"><a ui-sref="profile"><span class="label label-default">{{vm.getCurrentUserData().email}}</span></a></li>
            <li ng-show="vm.isAuthenticated()"><a ui-sref="logout">Выйти</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main component -->
    <div class="container-fluid" ui-view></div>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!-- Angular core JavaScript -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/handsontable/dist/handsontable.full.js"></script>
    <script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>
    <!--App Javascript-->
    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/auth/auth.module.js"></script>
    <script src="app/catalog/catalog.module.js"></script>
    <script src="app/components/components.module.js"></script>
    <script src="app/settings/settings.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/auth/login.controller.js"></script>
    <script src="app/catalog/car.dialog.controller.js"></script>
    <script src="app/catalog/catalog.controller.js"></script>
    <script src="app/components/htable.directive.js"></script>
    <script src="app/services/lb-services.js"></script>
    <script src="app/settings/carmodification.dialog.controller.js"></script>
    <script src="app/settings/carmodifications.controller.js"></script>
    <script src="app/settings/carmodifications.import.controller.js"></script>
    <script src="app/settings/settings.controller.js"></script>
    <!-- endinject -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
