<div class="car-dialog modal-header">
  <h4 class="modal-title pull-left" ng-show="!vm.tCar.id">Добавление автомобиля</h4>
  <h4 class="modal-title pull-left" ng-show="vm.tCar.id">Редактирование автомобиля</h4>
  <button type="button" class="btn btn-primary" ng-show="!vm.tCar.id" ng-click="vm.save()">Добавить</button>
  <button type="button" class="btn btn-primary" ng-show="vm.tCar.id" ng-click="vm.save()">Сохранить</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Отмена</button>
</div>
<div class="car-dialog modal-body">
  <form name="vm.carForm" role="form" ng-submit="vm.save()" novalidate>
    <div class="form-group has-feedback" ng-class="{'has-error': vm.carForm.carMarkInput.$invalid}">
      <label class="control-label" for="carMarkInput">Марка автомобиля</label>
      <select id="carMarkInput"
              class="form-control"
              required ng-options="item.id as item.name for item in vm.carMarks"
              ng-model="vm.carMarkId" ng-change="vm.onCarMarkChange()"
        ></select>
    </div>
    <div class="form-group">
      <label class="control-label" for="yearInput">Год выпуска автомобиля</label>
      <select id="yearInput"
              class="form-control"
              ng-options="item for item in vm.years"
              ng-model="vm.tCar.year"
              ng-change="vm.onYearChange()"></select>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label" for="carModelInputId">Модель автомобиля</label>
      <select id="carModelInputId"
              name="carModelInput"
              class="form-control"
              required
              ng-options="item.id as item.name for item in vm.carModels"
              ng-model="vm.carModelId"
              ng-change="vm.onCarModelChange()"
              ng-disabled="!(vm.carMarkId && vm.tCar.year)"
        ></select>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label" for="carModificationInputId">Модификация автомобиля</label>
      <select id="carModificationInputId"
              name="carModificationInput"
              class="form-control"
              required
              ng-options="item.id as item.name group by item.generation for item in vm.carModifications"
              ng-model="vm.tCar.carModificationId"
              ng-change="vm.onCarModificationChange()"
              ng-disabled="!(vm.carModelId && vm.tCar.year)"
        ></select>
    </div>
    <div class="form-group">
      <label class="control-label" for="carAddonsInputId">Допы</label>
      <textarea id="carAddonsInputId" name="carAddonsInput" class="form-control" rows="6" ng-model="vm.tCar.addons"></textarea>
    </div>
  </form>
</div>
<div class="car-dialog modal-footer">

</div>
