<div class="carmodification-import-panel panel panel-default">
  <div class="panel-heading">Импорт модификаций автомобилей [TODO]  Показать процесс импорта и ошибки. Пока в тихую</div>
  <div class="panel-body">
    <h3>Файлы на сервере</h3>
    <table class="table">
      <thead>
      <tr>
        <th width="50%">Имя файла</th>
        <th>Размер</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="file in vm.files">
        <td>
          <a href="{{vm.CONTAINERURL}}/download/{{file.name}}"><strong>{{ file.name }}</strong></a>
        </td>
        <td>
          {{ file.size/1024|number:2 }} KB
        </td>
        <td>
          <button type="button" class="btn btn-danger"
                  ng-click="vm.delete($index, file.name)"
                  title="Удалить файл">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
          </button>
          <button type="button" class="btn btn-info"
                  ng-click="vm.importModifications($index, file.name)"
                  title="Импортировать модификации"
                  ng-hide="vm.importStatus == 'import'">
            <span class="glyphicon glyphicon-import"></span>
            Импорт
          </button>
          <button type="button" class="btn btn-info active"
                  title="Идет импорт модификаций"
                  ng-show="vm.importStatus == 'import'">
            <span class="glyphicon glyphicon-repeat gly-spin"></span>
            Импорт
          </button>
        </td>
        </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="alert alert-warning" role="alert" ng-show="!vm.importStatus">Файл для импорта должен быть запакован в zip архив и иметь внутри autoru_cars_catalog.xml</div>
    <div class="alert alert-info" role="alert" ng-show="vm.importStatus == 'import'">Идет импорт данных в базу. При большом файле может занять длительное время ...</div>
    <div class="alert alert-success" role="alert" ng-show="vm.importStatus == 'success'">{{vm.importMessage}}</div>
    <div class="alert alert-danger" role="alert" ng-show="vm.importStatus == 'error'">{{vm.importMessage}}</div>
  </div>
</div>

<div class="carmodification-import-panel panel panel-default">
  <div class="panel-heading">Очередь загрузки файлов на сервер</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-6" ng-show="vm.uploader.isHTML5">
        <div class="well file-drop-zone" nv-file-drop uploader="vm.uploader" nv-file-over>
          Перетащите файл сюда
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="InputOneFile">Выбор файла</label>
          <input nv-file-select uploader="vm.uploader" type="file" id="InputOneFile"/><br/>
        </div>
        <div class="form-group">
          <label for="InputMultipleFiles">Выбор нескольких файлов</label>
          <input nv-file-select uploader="vm.uploader" type="file" id="InputMultipleFiles" multiple/><br/>
        </div>
      </div>
    </div>

    <p>Файлов в очереди: {{ vm.uploader.queue.length }}</p>

    <table class="table">
      <thead>
      <tr>
        <th width="50%">Имя файла</th>
        <th ng-show="vm.uploader.isHTML5">Размер</th>
        <th ng-show="vm.uploader.isHTML5">Прогресс</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.uploader.queue">
        <td>
          <strong>{{ item.file.name }}</strong>
        </td>
        <td ng-show="vm.uploader.isHTML5" nowrap>
          {{ item.file.size/1024|number:2 }} KB
        </td>
        <td ng-show="vm.uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar"
                 ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
                        <span ng-show="item.isSuccess"><i
                          class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i
                          class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i
                          class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs"
                  ng-click="item.upload()"
                  ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span>
            Загрузить
          </button>
          <button type="button" class="btn btn-warning btn-xs"
                  ng-click="item.cancel()"
                  ng-disabled="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Отменить
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <p>
        Прогресс очереди:

      <div class="progress" style="">
        <div class="progress-bar" role="progressbar"
             ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
      </div>
      </p>
      <button type="button" class="btn btn-success btn-s"
              ng-click="vm.uploader.uploadAll()"
              ng-disabled="!vm.uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Загрузить все
      </button>
      <button type="button" class="btn btn-warning btn-s"
              ng-click="vm.uploader.cancelAll()"
              ng-disabled="!vm.uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Отменить все
      </button>
      <button type="button" class="btn btn-danger btn-s"
              ng-click="vm.uploader.clearQueue()"
              ng-disabled="!vm.uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Удалить все
      </button>
    </div>
  </div>
</div>
