<div class="panel panel-default car-selection" ng-show="vm.$stateParams.markId">
  <div class="panel-body">
    <span class="label label-info">{{vm.selection.mark.name}} <a ui-sref="settings.carmodifications()" ui-sref-opts="{inherit: false}"><span aria-hidden="true">&times;</span></a></span>
    <span class="label label-info"  ng-show="vm.$stateParams.modelId">{{vm.selection.model.name}} <a ui-sref="settings.carmodifications({markId: vm.selection.mark.id})" ui-sref-opts="{inherit: false}"><span aria-hidden="true">&times;</span></a></span>
  </div>
</div>

<div class="car-item-selection panel panel-default" ng-hide="vm.$stateParams.markId">
  <div class="panel-heading">Выберите марку</div>
  <div class="panel-body">
    <a class="car-tag" ng-repeat="mark in vm.marks" ui-sref="settings.carmodifications({markId: mark.id})" ui-sref-opts="{inherit: false}">{{mark.name}}</a>
  </div>
</div>

<div class="car-item-selection panel panel-default" ng-hide="vm.$stateParams.modelId || !vm.$stateParams.markId">
  <div class="panel-heading">Выберите модель</div>
  <div class="panel-body">
    <a class="car-tag" ng-repeat="model in vm.models" ui-sref="settings.carmodifications({markId: vm.selection.mark.id, modelId: model.id})" ui-sref-opts="{inherit: false}">{{model.name}}</a>
  </div>
</div>

<div class="table-responsive" ng-show="vm.$stateParams.modelId">
  <table class="cars table table-hover">
    <thead>
    <tr>
      <th><button class="btn btn-default" ng-click="vm.createModification()"><span class="glyphicon glyphicon-plus"></span></button></th>
      <th>Поколение</th>
      <th>Модификация</th>
      <th>Тип кузова</th>
      <th>Год нач.</th>
      <th>Год оконч.</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="modification in vm.modifications">
      <td>
        <div class="buttons">
          <button type="button" class="btn btn-default" ng-click="vm.openModificationDialog(modification)"><span class="glyphicon glyphicon-edit"></span></button>
          <button class="btn btn-default" ng-click="vm.deleteModification(modification)"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </td>
      <td>{{modification.generation}}</td>
      <td>{{modification.name}}</td>
      <td>{{modification.bodytype}}</td>
      <td>{{modification.yearstart}}</td>
      <td>{{modification.yearend}}</td>
    </tr>
    </tbody>
  </table>
</div>

