<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" ng-show="vm.modification.carModel.carMark.name"><span ng-bind="vm.modification.carModel.carMark.name"></span> <span ng-bind="vm.modification.carModel.name"></span> <span ng-bind="vm.modification.carGeneration.name"></span> <span ng-bind="vm.modification.name"></span></h3>
  <h3 class="modal-title" ng-hide="vm.modification.carModel.carMark.name">Новая модификация</h3>
</div>
<div class="modal-body">
  <form name="vm.modificationForm" role="form" ng-submit="vm.ok()" novalidate>
    <div class="form-group has-feedback" ng-class="{'has-error': vm.modificationForm.carMarkInput.$invalid}">
      <label class="control-label" for="carMarkInput">Марка автомобиля</label>
      <select id="carMarkInput" class="form-control" required ng-options="item.id as item.name for item in vm.marks" ng-model="vm.newModification.carMarkId" ng-change="vm.onCarMarkChange()" aria-describedby="carMarkInputStatus"></select>
      <span ng-show="vm.modificationForm.carMarkInput.$invalid" class="glyphicon glyphicon-ban-circle form-control-feedback" aria-hidden="true"></span>
      <span ng-show="vm.modificationForm.carMarkInput.$invalid" id="carMarkInputStatus" class="sr-only">(error)</span>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': vm.modificationForm.carModelInput.$invalid}">
      <label class="control-label" for="carModelInputId">Модель автомобиля</label>
      <select id="carModelInputId" name="carModelInput" class="form-control" required ng-options="item.id as item.name for item in vm.models" ng-model="vm.newModification.carModelId" ng-change="vm.onCarModelChange()" aria-describedby="carModelInputStatus"></select>
      <span ng-show="vm.modificationForm.carModelInput.$invalid" class="glyphicon glyphicon-ban-circle form-control-feedback" aria-hidden="true"></span>
      <span ng-show="vm.modificationForm.carModelInput.$invalid" id="carModelInputStatus" class="sr-only">(error)</span>
    </div>
    <div class="form-group">
      <label class="control-label" for="carGenerationInputId">Поколение автомобиля</label>
      <input type="text" class="form-control" id="carGenerationInputId" name="carModificationInput" ng-model="vm.newModification.generation" placeholder="Введите поколение автомобиля"/>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error': vm.modificationForm.carModificationInput.$invalid}">
      <label class="control-label" for="carModificationInputId">Модификация автомобиля</label>
      <input type="text" class="form-control" id="carModificationInputId" name="carModificationInput" required ng-model="vm.newModification.name" placeholder="Введите модификацию автомобиля" aria-describedby="carModificationInputStatus"/>
      <span ng-show="vm.modificationForm.carModificationInput.$invalid" class="glyphicon glyphicon-ban-circle form-control-feedback" aria-hidden="true"></span>
      <span ng-show="vm.modificationForm.carModificationInput.$invalid" id="carModificationInputStatus" class="sr-only">(error)</span>
    </div>
    <div class="form-group">
      <label class="control-label" for="carBodyTypeInputId">Тип кузова автомобиля</label>
      <input type="text" class="form-control" id="carBodyTypeInputId" name="carBodyTypeInput" ng-model="vm.newModification.bodytype" placeholder="Введите тип кузова автомобиля"/>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label class="control-label" for="yearstartInput">Год начала производства</label>
        <select id="yearstartInput" class="form-control" ng-options="item for item in vm.yearstart" ng-model="vm.newModification.yearstart" ng-change="vm.updateYearend()"></select>
      </div>
      <div class="col-sm-6">
        <label class="control-label" for="yearendInput">Год окончания производства</label>
        <select id="yearendInput" class="form-control" ng-options="item for item in vm.yearend" ng-model="vm.newModification.yearend" ng-change="vm.updateYearstart()"></select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="vm.cancel()">Отмена</button>
  <button class="btn btn-primary"  ng-click="vm.ok()">Сохранить</button>
</div>
