<form class="form-signin">
  <h2 class="form-signin-heading">Авторизация</h2>

  <label for="inputEmail" class="sr-only">email</label>
  <input type="email" id="inputEmail" class="form-control"
         ng-model="vm.loginData.email" placeholder="email" required autofocus>
  <label for="inputPassword" class="sr-only">пароль</label>
  <input type="password" id="inputPassword" class="form-control"
         ng-model="vm.loginData.password" placeholder="пароль" required>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vm.loginData.rememberMe"> Запомнить меня
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.login()">Войти</button>
</form>
